<!DOCTYPE html>
<html>
  <head>
    <title>Gram</title>

    <!-- Link to Bootstrap/Bootswatch -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-ZCyhLHmqgPJ/qW/xn+zQu7JrywSUOgV7SkjrnkGDss+6/qs+4SPDrS6qq4IOG0N9" crossorigin="anonymous">

    <!-- Link to Awesome Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Set viewport meta-->
    <meta name="viewport" content="width= device-width, initial-scale= 1.0" />


    <!-- <#%= stylesheet_link_tag    'application', media: 'all' %> -->
    <!-- <#%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
